body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
}

/* Card */

.card-ui-wrapper {
        width: 50%;
        height: 80%;
        background-color: aqua;
        display: grid;
        grid-template-rows: 5fr 1fr;
}
.card-container {
        background-color: blue;
        perspective: 1000px;
}
.card {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.6s ease;
        cursor: pointer;
        inset: 40px;
}

.card-front {
        background: #ffffff;
        border: 2px solid #ccc;
}
.card-back {
        background: #f4f4f4;
        border: 2px solid #ccc;
        transform: rotateX(180deg);
}

.card-face {
        user-select: none;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 24px;
        border-radius: 12px;
}

.card.flip {
        transform: rotateX(180deg);
}

/* Card Ctrl panel */

.card-ctrl-container {
        background-color: blueviolet;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        position: relative;
}
.card-ctrl-btn {
        width: 150px;
        height: 80%;
}

.card-ctrl-btn#unknown-btn {
        background-color: red;
}
.card-ctrl-btn#known-btn {
        background-color: green;
}

.progress-bar-container {
        width: 100%;
        height: 10px;
        position: absolute;
        inset: 0;
}

.progress-bar {
        height: 100%;
        width: 0%;
        background-color: chocolate;
        transition: width 0.3s ease-in-out;
        border-radius: 5px;
}

/* Change card Anim */

.transition-card {
        background: #ffffff;
        border: 2px solid #ccc;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        animation: changeCardTilt 0.5s ease-in-out forwards;
        z-index: 2;
        font-size: 3rem;
        font-weight: 600;
}

.transition-card.card-known {
        color: green;
        --card-slide: 60%, 0%;
        --card-tilt: -7deg;
}

.transition-card.card-unknown {
        color: red;
        --card-slide: -60%, 0%;
        --card-tilt: 7deg;
}

@keyframes changeCardTilt {
        0% {
                transform: scale(0.95);
        }
        40% {
                
                transform: scale(1.05) rotate(var(--card-tilt)); /* -7deg */
                opacity: 1;
        }

        100% {
                transform: scale(1.05) rotate(0deg);
                opacity: 0;
        }
}

.transition-card-wrapper {
        position: absolute;
        animation: changeCardSlide 0.5s ease-in-out forwards;
        inset: 40px;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
}

.transition-card-wrapper:has(>.card-known) {
        --card-slide: 60%, 0%;
        --card-tilt: -7deg;
}

.transition-card-wrapper:has(>.card-unknown) {
        --card-slide: -60%, 0%;
        --card-tilt: 7deg;
}

@keyframes changeCardSlide {
        0%,
        40% {
                
                transform: translate(0%, 0%);
        }

        100% {
                transform: translate(var(--card-slide)); /* 60% */
        }
}

.transition-card.new-card-set {
        --card-tilt: 0deg;
        animation: changeCardTilt 0.5s ease-in-out forwards;
        /* --card-tilt: 7deg; */
        color: black;
}
.transition-card-wrapper:has(>.new-card-set) {
        --card-slide: 0%, -60%;
        animation: changeCardSlide 0.5s ease-in-out forwards;
        /* --card-tilt: 7deg; */
        color: black;
}

/* Dim Menu pop */

.dim {
        animation: Appear 1.2s ease-in-out;
        position: absolute;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
}
.menu-wrapper {
        width: 52%;
        height: 70%;
}
.menu {
        background-color: deeppink;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
}
.end-menu-text {
        margin: 0;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
.menu-ctrl-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}
.menu-ctrl-btn {
        width: 150px;
        height: 60%;
        background-color: goldenrod;
}

@keyframes Appear {
        0% {
                opacity: 0;
        }
        75% {
                opacity: 0;
        }
        100%{
                opacity: 1;
        }
}

.progress-info {
        display: flex;
        align-items: start;
        justify-content: space-evenly;
}
.card-end-info {
        width: 200px;
        height: 60%;
}
.fails-num {
        background-color: red;
}
.success-num {
        background-color: green;
}