:root {
        --back-color: #1a1919;
        --front-color: hsl(from var(--back-color) h s calc(l + 5));
        --overlay-color: hsl(from var(--back-color) h s calc(l + 15));
        --muted-text-color: #555555;
        --important-text-color: #f1f1f1;
        font-family: "consolas";
}

body {
        background-color: var(--back-color);
        margin: 0;
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        padding: 20px;
}

.screen-container {
        width: 100%;
        height: 100%;
}

.tab-button-container {
        background-color: var(--front-color);
        border-radius: 25px 25px 0 0;
        width: fit-content;
        display: flex;
        position: relative;
}

.tab-button {
        color: var(--important-text-color);
        border-radius: 25px;
        width: 120px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        position: relative;
        z-index: 1;
        font-weight: 600;
}

.tab-button-overlay {
        border: solid 5px var(--front-color);
        backdrop-filter: brightness(1.7);
        position: absolute;
        border-radius: 25px;
        opacity: 60%;
        width: 110px;
        height: 40px;
        pointer-events: none;
        transition: transform 0.2s;
        
}

.tab-container {
        background-color: var(--front-color);
        overflow: hidden;
        width: 100%;
        height: calc(100% - 50px);
        position: relative;
        border-radius: 0 25px 25px 25px;
}

.tab-content {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform 0.3s;
}

#sidebar-button-input {
        display: none;
}

.sidebar-button {
        position: absolute;
        width: 45px;
        height: 45px;
        z-index: 1;
        color: var(--important-text-color);
}

.sidebar-button svg {
        scale: 0.8;
        transition: transform 0.2s;
}

#sidebar-button-input:checked ~ .sidebar-button svg {
        transform: rotateZ(-90deg);
}

.flashcard-sidebar {
        display: flex;
        flex-direction: column;
        padding: 45px 10px;
        background-color: var(--front-color);
        position: absolute;
        left: calc(-18% - 10px * 2);
        width: 18%;
        height: calc(100% - 45px * 2);
        transition: transform 0.3s;
}

#sidebar-button-input:checked ~ .flashcard-sidebar {
        transform: translateX(100%);
}

.open-folder-btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.sidebar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 60px;
        font-size: 1.5em;
        font-weight: 500;
        color: var(--important-text-color);
        background-color: var(--front-color);
        user-select: none;
}

.sidebar-item:hover {
        filter: brightness(1.3);
}

.flashcard-screen {
        background-color: var(--front-color);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.flashcard-screen:has(.flashcard-area:empty)::after {
        position: absolute;
        content: "No Flash-cards :(";
        font-weight: 800;
        color: var(--muted-text-color);
        font-size: 3em;
}
.flashcard-area {
        display: grid;
        width: 60%;
        height: 80%;
}

/*  cards */

.card-container {
        grid-row: 1 / 5;
        background-color: aqua;
        padding: 40px;
}

.card-btn-container {
        grid-row: 5 / 6;
        background-color: yellowgreen;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}
.card-item {
        width: 100%;
        height: 100%;
        background-color: red;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--important-text-color);
        font-size: 2rem;
}

.learn-btn, .know-btn {
        width: 15%;
        height: 70%;
        background-color: crimson;
        
}

.flip {
        transform: rotateY(180deg);
}