*, *::before, *::after {
      box-sizing: inherit;
}

html {
      box-sizing: border-box;
}

body {
      margin: 0;
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-columns: calc(20vw + 80px) 80vw;
	overflow: hidden;
      transition: grid-template-columns 0.3s;
}

body:has(#sidebar-btn-input:checked) {
      /* padding-right: 0px; */
      grid-template-columns: calc(0% + 80px) calc(100% - 80px);
}

body:has(#sidebar-btn-input:checked) .main-content {
      padding-right: 0px;
}

/* sidebar */

.sidebar {
      display: grid;
      grid-template-columns: 1fr 80px;
      /* transform: translateX(0%); */
      transition: transform 0.3s;
      position: absolute;
      width: calc(20vw + 80px);
      height: 100vh;
      overflow: hidden;
}

.sidebar:has(#sidebar-btn-input:checked) {
      transform: translateX(calc(-100% + 80px));
}
.sidebar-edge {
      background-color: coral;
}

.sidebar-content {
      background-color: brown;
      display: grid;
      row-gap: 15px;
      grid-template-rows: 80px auto 1fr 60px;
}

.sidebar-header {
      background-color: chartreuse;
      display: flex;
}
.header-text {
      flex-grow: 1;
}
.sidebar-btn {
      width: 80px;
      height: 80px;
      position: relative;
}

.sidebar-btn-label {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
}


/* main content */

.main-content {
      background-color: aqua;
      padding-right: 80px;
      transition: padding-right 0.3s;
}

.sidebar-nav-container {
      display: flex;
      flex-direction: column;
}
.sidebar-nav-btn {
      width: 100%;
      height: 60px;
}

/* account */

.account-container {
      width: 100%;
      display: grid;
      grid-template-columns: 60px 1fr;
}